<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>billId</key>
		<string></string>
		<key>name</key>
		<string>宝宝食品</string>
		<key>color</key>
		<string></string>
		<key>icon</key>
		<string></string>
		<key>expended</key>
		<true/>
	</dict>
	<dict>
		<key>billId</key>
		<string></string>
		<key>name</key>
		<string>宝宝用品</string>
		<key>color</key>
		<string></string>
		<key>icon</key>
		<string></string>
		<key>expended</key>
		<true/>
	</dict>
	<dict>
		<key>billId</key>
		<string></string>
		<key>name</key>
		<string>衣服</string>
		<key>color</key>
		<string></string>
		<key>icon</key>
		<string></string>
		<key>expended</key>
		<true/>
	</dict>
	<dict>
		<key>billId</key>
		<string></string>
		<key>name</key>
		<string>早教</string>
		<key>color</key>
		<string></string>
		<key>icon</key>
		<string></string>
		<key>expended</key>
		<true/>
	</dict>
	<dict>
		<key>billId</key>
		<string></string>
		<key>name</key>
		<string>玩乐</string>
		<key>color</key>
		<string></string>
		<key>icon</key>
		<string></string>
		<key>expended</key>
		<true/>
	</dict>
	<dict>
		<key>billId</key>
		<string></string>
		<key>name</key>
		<string>医疗护理</string>
		<key>color</key>
		<string></string>
		<key>icon</key>
		<string></string>
		<key>expended</key>
		<true/>
	</dict>
	<dict>
		<key>billId</key>
		<string></string>
		<key>name</key>
		<string>零花</string>
		<key>color</key>
		<string></string>
		<key>icon</key>
		<string></string>
		<key>expended</key>
		<true/>
	</dict>
	<dict>
		<key>billId</key>
		<string></string>
		<key>name</key>
		<string>写真</string>
		<key>color</key>
		<string></string>
		<key>icon</key>
		<string></string>
		<key>expended</key>
		<true/>
	</dict>
	<dict>
		<key>billId</key>
		<string></string>
		<key>name</key>
		<string>宝宝其它</string>
		<key>color</key>
		<string></string>
		<key>icon</key>
		<string></string>
		<key>expended</key>
		<true/>
	</dict>
</array>
</plist>
