<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cbillid</key>
		<string>1000</string>
		<key>cname</key>
		<string>餐饮</string>
		<key>ccolor</key>
		<string>#ee9d29</string>
		<key>cicoin</key>
		<string>bt_food</string>
		<key>itype</key>
		<string>1</string>
		<key>iorder</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cbillid</key>
		<string>1002</string>
		<key>cname</key>
		<string>交通</string>
		<key>ccolor</key>
		<string>#379647</string>
		<key>cicoin</key>
		<string>bt_traffic</string>
		<key>itype</key>
		<string>1</string>
		<key>iorder</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>cbillid</key>
		<string>1003</string>
		<key>cname</key>
		<string>购物</string>
		<key>ccolor</key>
		<string>#d56335</string>
		<key>cicoin</key>
		<string>bt_shopping</string>
		<key>itype</key>
		<string>1</string>
		<key>iorder</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>cbillid</key>
		<string></string>
		<key>cname</key>
		<string>居住</string>
		<key>ccolor</key>
		<string></string>
		<key>cicoin</key>
		<string></string>
		<key>itype</key>
		<string>1</string>
		<key>iorder</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>cbillid</key>
		<string>1004</string>
		<key>cname</key>
		<string>娱乐</string>
		<key>ccolor</key>
		<string>#647ede</string>
		<key>cicoin</key>
		<string>bt_entertainment</string>
		<key>itype</key>
		<string>1</string>
		<key>iorder</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>cbillid</key>
		<string></string>
		<key>cname</key>
		<string>医疗</string>
		<key>ccolor</key>
		<string></string>
		<key>cicoin</key>
		<string></string>
		<key>itype</key>
		<string>1</string>
		<key>iorder</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>cbillid</key>
		<string></string>
		<key>cname</key>
		<string>学习</string>
		<key>ccolor</key>
		<string></string>
		<key>cicoin</key>
		<string></string>
		<key>itype</key>
		<string>1</string>
		<key>iorder</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>cbillid</key>
		<string></string>
		<key>cname</key>
		<string>人情</string>
		<key>ccolor</key>
		<string></string>
		<key>cicoin</key>
		<string></string>
		<key>itype</key>
		<string>1</string>
		<key>iorder</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>cbillid</key>
		<string>1033</string>
		<key>cname</key>
		<string>其它</string>
		<key>ccolor</key>
		<string>#626262</string>
		<key>cicoin</key>
		<string>bt_others</string>
		<key>itype</key>
		<string>1</string>
		<key>iorder</key>
		<integer>9</integer>
	</dict>
</array>
</plist>
