<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>ID</key>
		<string>1</string>
		<key>name</key>
		<string>现金</string>
		<key>icon</key>
		<string>ft_cash</string>
		<key>memo</key>
		<string></string>
		<key>expand</key>
		<false/>
		<key>order</key>
		<integer>1</integer>
		<key>type</key>
		<integer>0</integer>
		<key>subFunds</key>
		<array/>
	</dict>
	<key>2</key>
	<dict>
		<key>ID</key>
		<string>2</string>
		<key>name</key>
		<string>储蓄卡</string>
		<key>icon</key>
		<string>ft_chuxuka</string>
		<key>memo</key>
		<string></string>
		<key>expand</key>
		<false/>
		<key>order</key>
		<integer>2</integer>
		<key>type</key>
		<integer>0</integer>
		<key>subFunds</key>
		<array/>
	</dict>
	<key>3</key>
	<dict>
		<key>ID</key>
		<string>3</string>
		<key>name</key>
		<string>信用卡</string>
		<key>icon</key>
		<string>ft_creditcard</string>
		<key>memo</key>
		<string></string>
		<key>expand</key>
		<false/>
		<key>order</key>
		<integer>1</integer>
		<key>type</key>
		<integer>1</integer>
		<key>subFunds</key>
		<array/>
	</dict>
	<key>4</key>
	<dict>
		<key>ID</key>
		<string>4</string>
		<key>name</key>
		<string>一般投资</string>
		<key>icon</key>
		<string>ft_invest</string>
		<key>memo</key>
		<string>基金账户、证券账户</string>
		<key>expand</key>
		<false/>
		<key>order</key>
		<integer>1</integer>
		<key>type</key>
		<integer>0</integer>
		<key>subFunds</key>
		<dict/>
	</dict>
	<key>5</key>
	<dict>
		<key>ID</key>
		<string>5</string>
		<key>name</key>
		<string>货币基金</string>
		<key>icon</key>
		<string>ft_huobijijin</string>
		<key>memo</key>
		<string>宝宝类</string>
		<key>expand</key>
		<false/>
		<key>order</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>subFunds</key>
		<dict/>
	</dict>
	<key>6</key>
	<dict>
		<key>ID</key>
		<string>6</string>
		<key>name</key>
		<string>实物储值卡</string>
		<key>icon</key>
		<string>ft_shiwuka</string>
		<key>memo</key>
		<string>购物卡、公交卡等</string>
		<key>expand</key>
		<false/>
		<key>order</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>subFunds</key>
		<array/>
	</dict>
	<key>7</key>
	<dict>
		<key>ID</key>
		<string>7</string>
		<key>name</key>
		<string>网络充值账户</string>
		<key>icon</key>
		<string>ft_wangluochongzhi</string>
		<key>memo</key>
		<string>9188彩票等</string>
		<key>expand</key>
		<false/>
		<key>order</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>subFunds</key>
		<array/>
	</dict>
	<key>8</key>
	<dict>
		<key>ID</key>
		<string>8</string>
		<key>name</key>
		<string>住房公积金</string>
		<key>icon</key>
		<string>ft_house</string>
		<key>memo</key>
		<string></string>
		<key>expand</key>
		<false/>
		<key>order</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>subFunds</key>
		<dict/>
	</dict>
	<key>9</key>
	<dict>
		<key>ID</key>
		<string>9</string>
		<key>name</key>
		<string>借出款</string>
		<key>icon</key>
		<string>ft_yingshouqian</string>
		<key>memo</key>
		<string>应收钱款</string>
		<key>expand</key>
		<false/>
		<key>order</key>
		<integer>1</integer>
		<key>type</key>
		<integer>0</integer>
		<key>subFunds</key>
		<array/>
	</dict>
	<key>10</key>
	<dict>
		<key>ID</key>
		<string>10</string>
		<key>name</key>
		<string>借出款</string>
		<key>icon</key>
		<string>ft_jiechukuan</string>
		<key>memo</key>
		<string></string>
		<key>expand</key>
		<false/>
		<key>order</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>subFunds</key>
		<array/>
	</dict>
	<key>11</key>
	<dict>
		<key>ID</key>
		<string>11</string>
		<key>name</key>
		<string>欠款</string>
		<key>icon</key>
		<string>ft_qiankuan</string>
		<key>memo</key>
		<string></string>
		<key>expand</key>
		<false/>
		<key>order</key>
		<integer>0</integer>
		<key>type</key>
		<integer>1</integer>
		<key>subFunds</key>
		<array/>
	</dict>
	<key>12</key>
	<dict>
		<key>ID</key>
		<string>12</string>
		<key>name</key>
		<string>社保</string>
		<key>icon</key>
		<string>ft_shebao</string>
		<key>memo</key>
		<string>医保</string>
		<key>expand</key>
		<false/>
		<key>order</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>subFunds</key>
		<dict/>
	</dict>
	<key>13</key>
	<dict>
		<key>ID</key>
		<string>13</string>
		<key>name</key>
		<string>微信钱包</string>
		<key>icon</key>
		<string>ft_weixin</string>
		<key>memo</key>
		<string></string>
		<key>expand</key>
		<false/>
		<key>order</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>subFunds</key>
		<dict/>
	</dict>
	<key>14</key>
	<dict>
		<key>ID</key>
		<string>14</string>
		<key>name</key>
		<string>支付宝</string>
		<key>icon</key>
		<string>ft_zhifubao</string>
		<key>memo</key>
		<string></string>
		<key>expand</key>
		<false/>
		<key>order</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>subFunds</key>
		<dict/>
	</dict>
	<key>15</key>
	<dict>
		<key>ID</key>
		<string>15</string>
		<key>name</key>
		<string>其他</string>
		<key>icon</key>
		<string>ft_others</string>
		<key>memo</key>
		<string></string>
		<key>expand</key>
		<false/>
		<key>order</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>subFunds</key>
		<array/>
	</dict>
	<key>16</key>
	<dict>
		<key>ID</key>
		<string>16</string>
		<key>name</key>
		<string>蚂蚁花呗</string>
		<key>icon</key>
		<string>ft_mayihuabei</string>
		<key>memo</key>
		<string></string>
		<key>expand</key>
		<false/>
		<key>order</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>subFunds</key>
		<array/>
	</dict>
	<key>17</key>
	<dict>
		<key>ID</key>
		<string>17</string>
		<key>name</key>
		<string>固收理财</string>
		<key>icon</key>
		<string>ft_gushou</string>
		<key>memo</key>
		<string></string>
		<key>expand</key>
		<false/>
		<key>order</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>subFunds</key>
		<array/>
	</dict>
	<key>18</key>
	<dict>
		<key>ID</key>
		<string>18</string>
		<key>name</key>
		<string>在线支付</string>
		<key>icon</key>
		<string>ft_onlinepayment</string>
		<key>memo</key>
		<string>支付宝、微信</string>
		<key>expand</key>
		<false/>
		<key>order</key>
		<integer>3</integer>
		<key>type</key>
		<integer>1</integer>
		<key>subFunds</key>
		<array>
			<dict>
				<key>ID</key>
				<string>14</string>
				<key>name</key>
				<string>支付宝</string>
				<key>icon</key>
				<string>ft_zhifubao</string>
				<key>memo</key>
				<string></string>
				<key>expand</key>
				<false/>
				<key>order</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
				<key>subFunds</key>
				<dict/>
			</dict>
			<dict>
				<key>ID</key>
				<string>13</string>
				<key>name</key>
				<string>微信钱包</string>
				<key>icon</key>
				<string>ft_weixin</string>
				<key>memo</key>
				<string></string>
				<key>expand</key>
				<false/>
				<key>order</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
				<key>subFunds</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<key>19</key>
	<dict>
		<key>ID</key>
		<string>19</string>
		<key>name</key>
		<string>投资理财</string>
		<key>icon</key>
		<string>ft_investment</string>
		<key>memo</key>
		<string>固收理财、一般投资、货币基金</string>
		<key>expand</key>
		<false/>
		<key>order</key>
		<integer>4</integer>
		<key>type</key>
		<integer>0</integer>
		<key>subFunds</key>
		<array>
			<dict>
				<key>ID</key>
				<string>17</string>
				<key>name</key>
				<string>固收理财</string>
				<key>icon</key>
				<string>ft_gushou</string>
				<key>memo</key>
				<string></string>
				<key>expand</key>
				<false/>
				<key>order</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
				<key>subFunds</key>
				<array/>
			</dict>
			<dict>
				<key>ID</key>
				<string>4</string>
				<key>name</key>
				<string>一般投资</string>
				<key>icon</key>
				<string>ft_invest</string>
				<key>memo</key>
				<string>基金账户、证券账户</string>
				<key>expand</key>
				<false/>
				<key>order</key>
				<integer>1</integer>
				<key>type</key>
				<integer>0</integer>
				<key>subFunds</key>
				<dict/>
			</dict>
			<dict>
				<key>ID</key>
				<string>5</string>
				<key>name</key>
				<string>货币基金</string>
				<key>icon</key>
				<string>ft_huobijijin</string>
				<key>memo</key>
				<string>宝宝类</string>
				<key>expand</key>
				<false/>
				<key>order</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
				<key>subFunds</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<key>20</key>
	<dict>
		<key>ID</key>
		<string>20</string>
		<key>name</key>
		<string>储值卡</string>
		<key>icon</key>
		<string>ft_ valuecard</string>
		<key>memo</key>
		<string>实物储值卡、网络充值卡</string>
		<key>expand</key>
		<false/>
		<key>order</key>
		<integer>5</integer>
		<key>type</key>
		<integer>0</integer>
		<key>subFunds</key>
		<array>
			<dict>
				<key>ID</key>
				<string>6</string>
				<key>name</key>
				<string>实物储值卡</string>
				<key>icon</key>
				<string>ft_shiwuka</string>
				<key>memo</key>
				<string>购物卡、公交卡等</string>
				<key>expand</key>
				<false/>
				<key>order</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
				<key>subFunds</key>
				<array/>
			</dict>
			<dict>
				<key>ID</key>
				<string>7</string>
				<key>name</key>
				<string>网络充值账户</string>
				<key>icon</key>
				<string>ft_wangluochongzhi</string>
				<key>memo</key>
				<string>9188彩票等</string>
				<key>expand</key>
				<false/>
				<key>order</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
				<key>subFunds</key>
				<array/>
			</dict>
		</array>
	</dict>
	<key>21</key>
	<dict>
		<key>ID</key>
		<string>21</string>
		<key>name</key>
		<string>社会保障卡</string>
		<key>icon</key>
		<string>ft_socialcard</string>
		<key>memo</key>
		<string>社保医保、住房公积金</string>
		<key>expand</key>
		<false/>
		<key>order</key>
		<integer>6</integer>
		<key>type</key>
		<integer>0</integer>
		<key>subFunds</key>
		<array>
			<dict>
				<key>ID</key>
				<string>12</string>
				<key>name</key>
				<string>社保</string>
				<key>icon</key>
				<string>ft_shebao</string>
				<key>memo</key>
				<string>医保</string>
				<key>expand</key>
				<false/>
				<key>order</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
				<key>subFunds</key>
				<dict/>
			</dict>
			<dict>
				<key>ID</key>
				<string>8</string>
				<key>name</key>
				<string>住房公积金</string>
				<key>icon</key>
				<string>ft_house</string>
				<key>memo</key>
				<string></string>
				<key>expand</key>
				<false/>
				<key>order</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
				<key>subFunds</key>
				<dict/>
			</dict>
		</array>
	</dict>
</dict>
</plist>
