<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1000</key>
	<dict>
		<key>ID</key>
		<string>1000</string>
		<key>name</key>
		<string>餐饮</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_food</string>
		<key>color</key>
		<string>#ee9d29</string>
	</dict>
	<key>1001</key>
	<dict>
		<key>ID</key>
		<string>1001</string>
		<key>name</key>
		<string>烟酒茶</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_tobacco</string>
		<key>color</key>
		<string>#4f8ed5</string>
	</dict>
	<key>1002</key>
	<dict>
		<key>ID</key>
		<string>1002</string>
		<key>name</key>
		<string>交通</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_traffic</string>
		<key>color</key>
		<string>#379647</string>
	</dict>
	<key>1003</key>
	<dict>
		<key>ID</key>
		<string>1003</string>
		<key>name</key>
		<string>购物</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_shopping</string>
		<key>color</key>
		<string>#d56335</string>
	</dict>
	<key>1004</key>
	<dict>
		<key>ID</key>
		<string>1004</string>
		<key>name</key>
		<string>娱乐</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_entertainment</string>
		<key>color</key>
		<string>#647ede</string>
	</dict>
	<key>1005</key>
	<dict>
		<key>ID</key>
		<string>1005</string>
		<key>name</key>
		<string>投资亏损</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_deficit</string>
		<key>color</key>
		<string>#408637</string>
	</dict>
	<key>1006</key>
	<dict>
		<key>ID</key>
		<string>1006</string>
		<key>name</key>
		<string>生活服务</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_service</string>
		<key>color</key>
		<string>#d13e3e</string>
	</dict>
	<key>1007</key>
	<dict>
		<key>ID</key>
		<string>1007</string>
		<key>name</key>
		<string>话费</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_recharge</string>
		<key>color</key>
		<string>#465a9b</string>
	</dict>
	<key>1008</key>
	<dict>
		<key>ID</key>
		<string>1008</string>
		<key>name</key>
		<string>医药</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_medicine</string>
		<key>color</key>
		<string>#f25c5c</string>
	</dict>
	<key>1009</key>
	<dict>
		<key>ID</key>
		<string>1009</string>
		<key>name</key>
		<string>住房</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_house</string>
		<key>color</key>
		<string>#b05c5c</string>
	</dict>
	<key>1010</key>
	<dict>
		<key>ID</key>
		<string>1010</string>
		<key>name</key>
		<string>水电煤</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_water</string>
		<key>color</key>
		<string>#a66e16</string>
	</dict>
	<key>1011</key>
	<dict>
		<key>ID</key>
		<string>1011</string>
		<key>name</key>
		<string>食材</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_shicai</string>
		<key>color</key>
		<string>#f86e3c</string>
	</dict>
	<key>1012</key>
	<dict>
		<key>ID</key>
		<string>1012</string>
		<key>name</key>
		<string>水果</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_fruit</string>
		<key>color</key>
		<string>#66b34a</string>
	</dict>
	<key>1013</key>
	<dict>
		<key>ID</key>
		<string>1013</string>
		<key>name</key>
		<string>零食</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_snack</string>
		<key>color</key>
		<string>#d969ba</string>
	</dict>
	<key>1014</key>
	<dict>
		<key>ID</key>
		<string>1014</string>
		<key>name</key>
		<string>汽车</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_car</string>
		<key>color</key>
		<string>#83aa3f</string>
	</dict>
	<key>1015</key>
	<dict>
		<key>ID</key>
		<string>1015</string>
		<key>name</key>
		<string>家居</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_furniture</string>
		<key>color</key>
		<string>#2793cb</string>
	</dict>
	<key>1016</key>
	<dict>
		<key>ID</key>
		<string>1016</string>
		<key>name</key>
		<string>服饰</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_clothes</string>
		<key>color</key>
		<string>#ff8b4c</string>
	</dict>
	<key>1017</key>
	<dict>
		<key>ID</key>
		<string>1017</string>
		<key>name</key>
		<string>美容美发</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_meirong</string>
		<key>color</key>
		<string>#fc7f58</string>
	</dict>
	<key>1018</key>
	<dict>
		<key>ID</key>
		<string>1018</string>
		<key>name</key>
		<string>旅行</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_tourism</string>
		<key>color</key>
		<string>#78a354</string>
	</dict>
	<key>1019</key>
	<dict>
		<key>ID</key>
		<string>1019</string>
		<key>name</key>
		<string>礼金</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_gift</string>
		<key>color</key>
		<string>#c62f2f</string>
	</dict>
	<key>1020</key>
	<dict>
		<key>ID</key>
		<string>1020</string>
		<key>name</key>
		<string>家用</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_jiayong</string>
		<key>color</key>
		<string>#be7330</string>
	</dict>
	<key>1021</key>
	<dict>
		<key>ID</key>
		<string>1021</string>
		<key>name</key>
		<string>育婴</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_baby</string>
		<key>color</key>
		<string>#d44f4f</string>
	</dict>
	<key>1022</key>
	<dict>
		<key>ID</key>
		<string>1022</string>
		<key>name</key>
		<string>教育</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_education</string>
		<key>color</key>
		<string>#278f38</string>
	</dict>
	<key>1023</key>
	<dict>
		<key>ID</key>
		<string>1023</string>
		<key>name</key>
		<string>健身</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_sport</string>
		<key>color</key>
		<string>#07a1c2</string>
	</dict>
	<key>1024</key>
	<dict>
		<key>ID</key>
		<string>1024</string>
		<key>name</key>
		<string>结婚</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_marry</string>
		<key>color</key>
		<string>#e15534</string>
	</dict>
	<key>1025</key>
	<dict>
		<key>ID</key>
		<string>1025</string>
		<key>name</key>
		<string>维修</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_repair</string>
		<key>color</key>
		<string>#478e98</string>
	</dict>
	<key>1026</key>
	<dict>
		<key>ID</key>
		<string>1026</string>
		<key>name</key>
		<string>养宠</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_pet</string>
		<key>color</key>
		<string>#ab9444</string>
	</dict>
	<key>1027</key>
	<dict>
		<key>ID</key>
		<string>1027</string>
		<key>name</key>
		<string>清洁</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_clean</string>
		<key>color</key>
		<string>#359dc8</string>
	</dict>
	<key>1028</key>
	<dict>
		<key>ID</key>
		<string>1028</string>
		<key>name</key>
		<string>数码</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_digital</string>
		<key>color</key>
		<string>#2c53ab</string>
	</dict>
	<key>1029</key>
	<dict>
		<key>ID</key>
		<string>1029</string>
		<key>name</key>
		<string>邮费</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_youfei</string>
		<key>color</key>
		<string>#6b883c</string>
	</dict>
	<key>1030</key>
	<dict>
		<key>ID</key>
		<string>1030</string>
		<key>name</key>
		<string>利息</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_interest</string>
		<key>color</key>
		<string>#408637</string>
	</dict>
	<key>1031</key>
	<dict>
		<key>ID</key>
		<string>1031</string>
		<key>name</key>
		<string>还钱</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_huankuan</string>
		<key>color</key>
		<string>#7b529b</string>
	</dict>
	<key>1032</key>
	<dict>
		<key>ID</key>
		<string>1032</string>
		<key>name</key>
		<string>交税</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_jiaoshui</string>
		<key>color</key>
		<string>#e16b6b</string>
	</dict>
	<key>1033</key>
	<dict>
		<key>ID</key>
		<string>1033</string>
		<key>name</key>
		<string>其它</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_others</string>
		<key>color</key>
		<string>#626262</string>
	</dict>
	<key>1034</key>
	<dict>
		<key>ID</key>
		<string>1034</string>
		<key>name</key>
		<string>发红包</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_hongbao</string>
		<key>color</key>
		<string>#d44f4f</string>
	</dict>
	<key>1035</key>
	<dict>
		<key>ID</key>
		<string>1035</string>
		<key>name</key>
		<string>日用品</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_riyong</string>
		<key>color</key>
		<string>#11a4d4</string>
	</dict>
	<key>1036</key>
	<dict>
		<key>ID</key>
		<string>1036</string>
		<key>name</key>
		<string>买菜</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_maicai</string>
		<key>color</key>
		<string>#27a26f</string>
	</dict>
	<key>1037</key>
	<dict>
		<key>ID</key>
		<string>1037</string>
		<key>name</key>
		<string>护肤美妆</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_meizhuang</string>
		<key>color</key>
		<string>#de4266</string>
	</dict>
	<key>1038</key>
	<dict>
		<key>ID</key>
		<string>1038</string>
		<key>name</key>
		<string>奶粉</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_naifen</string>
		<key>color</key>
		<string>#b4a81e</string>
	</dict>
	<key>1039</key>
	<dict>
		<key>ID</key>
		<string>1039</string>
		<key>name</key>
		<string>尿布</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_niaobu</string>
		<key>color</key>
		<string>#958a3c</string>
	</dict>
	<key>1040</key>
	<dict>
		<key>ID</key>
		<string>1040</string>
		<key>name</key>
		<string>电影</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_dianying</string>
		<key>color</key>
		<string>#5f6cb9</string>
	</dict>
	<key>1041</key>
	<dict>
		<key>ID</key>
		<string>1041</string>
		<key>name</key>
		<string>出差</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_chuchai</string>
		<key>color</key>
		<string>#426ab2</string>
	</dict>
	<key>1042</key>
	<dict>
		<key>ID</key>
		<string>1042</string>
		<key>name</key>
		<string>花钱</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_huaqian</string>
		<key>color</key>
		<string>#f26d49</string>
	</dict>
	<key>1043</key>
	<dict>
		<key>ID</key>
		<string>1043</string>
		<key>name</key>
		<string>酒店</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_jiudian</string>
		<key>color</key>
		<string>#766bc8</string>
	</dict>
	<key>1044</key>
	<dict>
		<key>ID</key>
		<string>1044</string>
		<key>name</key>
		<string>机票</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_jipiao</string>
		<key>color</key>
		<string>#3c81ce</string>
	</dict>
	<key>1045</key>
	<dict>
		<key>ID</key>
		<string>1045</string>
		<key>name</key>
		<string>生意</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_shengyi</string>
		<key>color</key>
		<string>#ad492b</string>
	</dict>
	<key>1046</key>
	<dict>
		<key>ID</key>
		<string>1046</string>
		<key>name</key>
		<string>电器</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_dianqi</string>
		<key>color</key>
		<string>#2bbeb2</string>
	</dict>
	<key>1047</key>
	<dict>
		<key>ID</key>
		<string>1047</string>
		<key>name</key>
		<string>小孩零用</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_lingyong</string>
		<key>color</key>
		<string>#9f5c1b</string>
	</dict>
	<key>1048</key>
	<dict>
		<key>ID</key>
		<string>1048</string>
		<key>name</key>
		<string>KTV</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_ktv</string>
		<key>color</key>
		<string>#9c4141</string>
	</dict>
	<key>1049</key>
	<dict>
		<key>ID</key>
		<string>1049</string>
		<key>name</key>
		<string>游园</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_youyuan</string>
		<key>color</key>
		<string>#6691e9</string>
	</dict>
	<key>1050</key>
	<dict>
		<key>ID</key>
		<string>1050</string>
		<key>name</key>
		<string>装修</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_zhaungxiu</string>
		<key>color</key>
		<string>#e1861b</string>
	</dict>
	<key>1051</key>
	<dict>
		<key>ID</key>
		<string>1051</string>
		<key>name</key>
		<string>平账差额</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_chae</string>
		<key>color</key>
		<string>#917636</string>
	</dict>
	<key>1052</key>
	<dict>
		<key>ID</key>
		<string>1052</string>
		<key>name</key>
		<string>手续费</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_shouxufei</string>
		<key>color</key>
		<string>#d4ba28</string>
	</dict>
	<key>1053</key>
	<dict>
		<key>ID</key>
		<string>1053</string>
		<key>name</key>
		<string>佣金</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_yongjin</string>
		<key>color</key>
		<string>#68b58a</string>
	</dict>
	<key>1056</key>
	<dict>
		<key>ID</key>
		<string>1056</string>
		<key>name</key>
		<string>借出款</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_jiechu</string>
		<key>color</key>
		<string>#b84848</string>
	</dict>
	<key>1057</key>
	<dict>
		<key>ID</key>
		<string>1057</string>
		<key>name</key>
		<string>保姆</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_baomu</string>
		<key>color</key>
		<string>#b3852b</string>
	</dict>
	<key>1058</key>
	<dict>
		<key>ID</key>
		<string>1058</string>
		<key>name</key>
		<string>进货</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_jinhuo</string>
		<key>color</key>
		<string>#ee9f2c</string>
	</dict>
	<key>1059</key>
	<dict>
		<key>ID</key>
		<string>1059</string>
		<key>name</key>
		<string>材料费</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_cailiao</string>
		<key>color</key>
		<string>#379647</string>
	</dict>
	<key>1060</key>
	<dict>
		<key>ID</key>
		<string>1060</string>
		<key>name</key>
		<string>运输费</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_yunshu</string>
		<key>color</key>
		<string>#d56335</string>
	</dict>
	<key>1061</key>
	<dict>
		<key>ID</key>
		<string>1061</string>
		<key>name</key>
		<string>营销推广</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_tuiguang</string>
		<key>color</key>
		<string>#d44f4f</string>
	</dict>
	<key>1062</key>
	<dict>
		<key>ID</key>
		<string>1062</string>
		<key>name</key>
		<string>办公费用</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_bangong</string>
		<key>color</key>
		<string>#2dafd9</string>
	</dict>
	<key>1063</key>
	<dict>
		<key>ID</key>
		<string>1063</string>
		<key>name</key>
		<string>租金</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_zuchangdi</string>
		<key>color</key>
		<string>#b05c5c</string>
	</dict>
	<key>1064</key>
	<dict>
		<key>ID</key>
		<string>1064</string>
		<key>name</key>
		<string>人工薪资</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_xinzi</string>
		<key>color</key>
		<string>#d969ba</string>
	</dict>
	<key>1065</key>
	<dict>
		<key>ID</key>
		<string>1065</string>
		<key>name</key>
		<string>买方退货</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_maifangtuihuo</string>
		<key>color</key>
		<string>#e0866b</string>
	</dict>
	<key>1066</key>
	<dict>
		<key>ID</key>
		<string>1066</string>
		<key>name</key>
		<string>买方退款</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_maifangtuikuan</string>
		<key>color</key>
		<string>#b5a922</string>
	</dict>
	<key>1067</key>
	<dict>
		<key>ID</key>
		<string>1067</string>
		<key>name</key>
		<string>通信费</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_tongxin</string>
		<key>color</key>
		<string>#958a3c</string>
	</dict>
	<key>1068</key>
	<dict>
		<key>ID</key>
		<string>1068</string>
		<key>name</key>
		<string>生产设备</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_shebei</string>
		<key>color</key>
		<string>#6e86e0</string>
	</dict>
	<key>1071</key>
	<dict>
		<key>ID</key>
		<string>1071</string>
		<key>name</key>
		<string>税费</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_shuifei</string>
		<key>color</key>
		<string>#e16d6d</string>
	</dict>
	<key>1072</key>
	<dict>
		<key>ID</key>
		<string>1072</string>
		<key>name</key>
		<string>坏账</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_huaizhang</string>
		<key>color</key>
		<string>#468a3d</string>
	</dict>
	<key>1074</key>
	<dict>
		<key>ID</key>
		<string>1074</string>
		<key>name</key>
		<string>保险</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_baoxian</string>
		<key>color</key>
		<string>#d13e3e</string>
	</dict>
	<key>1075</key>
	<dict>
		<key>ID</key>
		<string>1075</string>
		<key>name</key>
		<string>罚款</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_fakuan</string>
		<key>color</key>
		<string>#f8703f</string>
	</dict>
	<key>1077</key>
	<dict>
		<key>ID</key>
		<string>1077</string>
		<key>name</key>
		<string>结婚照</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_jiehunzhao</string>
		<key>color</key>
		<string>#d56335</string>
	</dict>
	<key>1078</key>
	<dict>
		<key>ID</key>
		<string>1078</string>
		<key>name</key>
		<string>装饰家具</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_furniture</string>
		<key>color</key>
		<string>#2793cb</string>
	</dict>
	<key>1080</key>
	<dict>
		<key>ID</key>
		<string>1080</string>
		<key>name</key>
		<string>聘礼</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_pinli</string>
		<key>color</key>
		<string>#d44f4f</string>
	</dict>
	<key>1081</key>
	<dict>
		<key>ID</key>
		<string>1081</string>
		<key>name</key>
		<string>婚礼</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_hunli</string>
		<key>color</key>
		<string>#11a4d4</string>
	</dict>
	<key>1082</key>
	<dict>
		<key>ID</key>
		<string>1082</string>
		<key>name</key>
		<string>礼服</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_lifu</string>
		<key>color</key>
		<string>#27a26f</string>
	</dict>
	<key>1083</key>
	<dict>
		<key>ID</key>
		<string>1083</string>
		<key>name</key>
		<string>酒席</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_jiuxi</string>
		<key>color</key>
		<string>#66b34a</string>
	</dict>
	<key>1085</key>
	<dict>
		<key>ID</key>
		<string>1085</string>
		<key>name</key>
		<string>喜贴喜糖</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_xitang</string>
		<key>color</key>
		<string>#de4266</string>
	</dict>
	<key>1086</key>
	<dict>
		<key>ID</key>
		<string>1086</string>
		<key>name</key>
		<string>回客礼</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_huikeli</string>
		<key>color</key>
		<string>#ff8b4c</string>
	</dict>
	<key>1087</key>
	<dict>
		<key>ID</key>
		<string>1087</string>
		<key>name</key>
		<string>婚庆服务</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_hunqing</string>
		<key>color</key>
		<string>#d96c4b</string>
	</dict>
	<key>1088</key>
	<dict>
		<key>ID</key>
		<string>1088</string>
		<key>name</key>
		<string>结婚蛋糕</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_hunli_dangao</string>
		<key>color</key>
		<string>#647ede</string>
	</dict>
	<key>1089</key>
	<dict>
		<key>ID</key>
		<string>1089</string>
		<key>name</key>
		<string>司仪费</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_siyi</string>
		<key>color</key>
		<string>#5f6cb9</string>
	</dict>
	<key>1090</key>
	<dict>
		<key>ID</key>
		<string>1090</string>
		<key>name</key>
		<string>租场地</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_zuchangdi</string>
		<key>color</key>
		<string>#b05c5c</string>
	</dict>
	<key>1091</key>
	<dict>
		<key>ID</key>
		<string>1091</string>
		<key>name</key>
		<string>布置费</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_buzhi</string>
		<key>color</key>
		<string>#b4a81e</string>
	</dict>
	<key>1092</key>
	<dict>
		<key>ID</key>
		<string>1092</string>
		<key>name</key>
		<string>造型化妆</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_zaoxing</string>
		<key>color</key>
		<string>#be7330</string>
	</dict>
	<key>1095</key>
	<dict>
		<key>ID</key>
		<string>1095</string>
		<key>name</key>
		<string>家装建材</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_jiancai</string>
		<key>color</key>
		<string>#d56335</string>
	</dict>
	<key>1096</key>
	<dict>
		<key>ID</key>
		<string>1096</string>
		<key>name</key>
		<string>地板地砖</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_diban</string>
		<key>color</key>
		<string>#d44f4f</string>
	</dict>
	<key>1097</key>
	<dict>
		<key>ID</key>
		<string>1097</string>
		<key>name</key>
		<string>灯具照明</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_dengju</string>
		<key>color</key>
		<string>#11a4d4</string>
	</dict>
	<key>1098</key>
	<dict>
		<key>ID</key>
		<string>1098</string>
		<key>name</key>
		<string>厨房卫浴</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_weiyu</string>
		<key>color</key>
		<string>#35a879</string>
	</dict>
	<key>1099</key>
	<dict>
		<key>ID</key>
		<string>1099</string>
		<key>name</key>
		<string>家具</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_furniture</string>
		<key>color</key>
		<string>#2793cb</string>
	</dict>
	<key>1100</key>
	<dict>
		<key>ID</key>
		<string>1100</string>
		<key>name</key>
		<string>家用装饰</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_buzhi</string>
		<key>color</key>
		<string>#b4a81e</string>
	</dict>
	<key>1101</key>
	<dict>
		<key>ID</key>
		<string>1101</string>
		<key>name</key>
		<string>门窗</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_menchuang</string>
		<key>color</key>
		<string>#d969ba</string>
	</dict>
	<key>1102</key>
	<dict>
		<key>ID</key>
		<string>1102</string>
		<key>name</key>
		<string>窗帘</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_changlian</string>
		<key>color</key>
		<string>#de4266</string>
	</dict>
	<key>1103</key>
	<dict>
		<key>ID</key>
		<string>1103</string>
		<key>name</key>
		<string>室内设计费</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_sheji</string>
		<key>color</key>
		<string>#4f8ed5</string>
	</dict>
	<key>1104</key>
	<dict>
		<key>ID</key>
		<string>1104</string>
		<key>name</key>
		<string>人工费</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_rengong</string>
		<key>color</key>
		<string>#d96c4b</string>
	</dict>
	<key>1105</key>
	<dict>
		<key>ID</key>
		<string>1105</string>
		<key>name</key>
		<string>水电工</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_diangong</string>
		<key>color</key>
		<string>#647ede</string>
	</dict>
	<key>1106</key>
	<dict>
		<key>ID</key>
		<string>1106</string>
		<key>name</key>
		<string>管理费</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_guanli</string>
		<key>color</key>
		<string>#5f6cb9</string>
	</dict>
	<key>1109</key>
	<dict>
		<key>ID</key>
		<string>1109</string>
		<key>name</key>
		<string>家电</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_jiadian</string>
		<key>color</key>
		<string>#2ab5a9</string>
	</dict>
	<key>1110</key>
	<dict>
		<key>ID</key>
		<string>1110</string>
		<key>name</key>
		<string>杂费</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_zafei</string>
		<key>color</key>
		<string>#b05c5c</string>
	</dict>
	<key>1114</key>
	<dict>
		<key>ID</key>
		<string>1114</string>
		<key>name</key>
		<string>参团费</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_cantuan</string>
		<key>color</key>
		<string>#d56335</string>
	</dict>
	<key>1117</key>
	<dict>
		<key>ID</key>
		<string>1117</string>
		<key>name</key>
		<string>小吃</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_xiaochi</string>
		<key>color</key>
		<string>#d44f4f</string>
	</dict>
	<key>1119</key>
	<dict>
		<key>ID</key>
		<string>1119</string>
		<key>name</key>
		<string>纪念品</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_jinianpin</string>
		<key>color</key>
		<string>#11a4d4</string>
	</dict>
	<key>1121</key>
	<dict>
		<key>ID</key>
		<string>1121</string>
		<key>name</key>
		<string>火车</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_huoche</string>
		<key>color</key>
		<string>#27a26f</string>
	</dict>
	<key>1122</key>
	<dict>
		<key>ID</key>
		<string>1122</string>
		<key>name</key>
		<string>的士</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_dishi</string>
		<key>color</key>
		<string>#66b34a</string>
	</dict>
	<key>1123</key>
	<dict>
		<key>ID</key>
		<string>1123</string>
		<key>name</key>
		<string>旅行装备</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_lvxing</string>
		<key>color</key>
		<string>#ff8b4c</string>
	</dict>
	<key>1124</key>
	<dict>
		<key>ID</key>
		<string>1124</string>
		<key>name</key>
		<string>数码装备</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_shuma</string>
		<key>color</key>
		<string>#2a509f</string>
	</dict>
	<key>1125</key>
	<dict>
		<key>ID</key>
		<string>1125</string>
		<key>name</key>
		<string>租赁费</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_zuchangdi</string>
		<key>color</key>
		<string>#b05c5c</string>
	</dict>
	<key>1126</key>
	<dict>
		<key>ID</key>
		<string>1126</string>
		<key>name</key>
		<string>导游费</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_daoyou</string>
		<key>color</key>
		<string>#be7330</string>
	</dict>
</dict>
</plist>
