<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2001</key>
	<dict>
		<key>ID</key>
		<string>2001</string>
		<key>name</key>
		<string>工资</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_wages</string>
		<key>color</key>
		<string>#e1861b</string>
	</dict>
	<key>2002</key>
	<dict>
		<key>ID</key>
		<string>2002</string>
		<key>name</key>
		<string>奖金</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_bouns</string>
		<key>color</key>
		<string>#66b34a</string>
	</dict>
	<key>2003</key>
	<dict>
		<key>ID</key>
		<string>2003</string>
		<key>name</key>
		<string>福利</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_fuli</string>
		<key>color</key>
		<string>#2bbeb2</string>
	</dict>
	<key>2004</key>
	<dict>
		<key>ID</key>
		<string>2004</string>
		<key>name</key>
		<string>投资收益</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_invest</string>
		<key>color</key>
		<string>#d44f4f</string>
	</dict>
	<key>2005</key>
	<dict>
		<key>ID</key>
		<string>2005</string>
		<key>name</key>
		<string>收红包</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_hongbao</string>
		<key>color</key>
		<string>#e15534</string>
	</dict>
	<key>2006</key>
	<dict>
		<key>ID</key>
		<string>2006</string>
		<key>name</key>
		<string>兼职</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_jianzhi</string>
		<key>color</key>
		<string>#78a543</string>
	</dict>
	<key>2007</key>
	<dict>
		<key>ID</key>
		<string>2007</string>
		<key>name</key>
		<string>生活费</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_shenghuofei</string>
		<key>color</key>
		<string>#be7330</string>
	</dict>
	<key>2008</key>
	<dict>
		<key>ID</key>
		<string>2008</string>
		<key>name</key>
		<string>报销</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_baoxiao</string>
		<key>color</key>
		<string>#6691e9</string>
	</dict>
	<key>2009</key>
	<dict>
		<key>ID</key>
		<string>2009</string>
		<key>name</key>
		<string>退款</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_tuikuan</string>
		<key>color</key>
		<string>#68b58a</string>
	</dict>
	<key>2010</key>
	<dict>
		<key>ID</key>
		<string>2010</string>
		<key>name</key>
		<string>公积金</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_gongjijin</string>
		<key>color</key>
		<string>#766bc8</string>
	</dict>
	<key>2011</key>
	<dict>
		<key>ID</key>
		<string>2011</string>
		<key>name</key>
		<string>社保金</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_shebao</string>
		<key>color</key>
		<string>#359dc8</string>
	</dict>
	<key>2012</key>
	<dict>
		<key>ID</key>
		<string>2012</string>
		<key>name</key>
		<string>礼金</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_gift</string>
		<key>color</key>
		<string>#c62f2f</string>
	</dict>
	<key>2013</key>
	<dict>
		<key>ID</key>
		<string>2013</string>
		<key>name</key>
		<string>收款</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_shouzhai</string>
		<key>color</key>
		<string>#63671a</string>
	</dict>
	<key>2014</key>
	<dict>
		<key>ID</key>
		<string>2014</string>
		<key>name</key>
		<string>贷款</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_daikuan</string>
		<key>color</key>
		<string>#b47100</string>
	</dict>
	<key>2015</key>
	<dict>
		<key>ID</key>
		<string>2015</string>
		<key>name</key>
		<string>营业</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_yingye</string>
		<key>color</key>
		<string>#00a2f2</string>
	</dict>
	<key>2016</key>
	<dict>
		<key>ID</key>
		<string>2016</string>
		<key>name</key>
		<string>意外收入</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_yiwai</string>
		<key>color</key>
		<string>#004cb6</string>
	</dict>
	<key>2017</key>
	<dict>
		<key>ID</key>
		<string>2017</string>
		<key>name</key>
		<string>其它</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_others</string>
		<key>color</key>
		<string>#626262</string>
	</dict>
	<key>2018</key>
	<dict>
		<key>ID</key>
		<string>2018</string>
		<key>name</key>
		<string>赚钱</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_zhuanqian</string>
		<key>color</key>
		<string>#f25c5c</string>
	</dict>
	<key>2020</key>
	<dict>
		<key>ID</key>
		<string>2020</string>
		<key>name</key>
		<string>借入款</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_jiechu</string>
		<key>color</key>
		<string>#b84848</string>
	</dict>
	<key>2021</key>
	<dict>
		<key>ID</key>
		<string>2021</string>
		<key>name</key>
		<string>零花钱</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_lingyong</string>
		<key>color</key>
		<string>#9f5c1b</string>
	</dict>
	<key>2022</key>
	<dict>
		<key>ID</key>
		<string>2022</string>
		<key>name</key>
		<string>租金</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_zujin</string>
		<key>color</key>
		<string>#b05c5c</string>
	</dict>
	<key>2023</key>
	<dict>
		<key>ID</key>
		<string>2023</string>
		<key>name</key>
		<string>中奖</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_zhongjiang</string>
		<key>color</key>
		<string>#de4266</string>
	</dict>
	<key>2024</key>
	<dict>
		<key>ID</key>
		<string>2024</string>
		<key>name</key>
		<string>佣金提成</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_yongjin</string>
		<key>color</key>
		<string>#68b58a</string>
	</dict>
	<key>2025</key>
	<dict>
		<key>ID</key>
		<string>2025</string>
		<key>name</key>
		<string>利息</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_interest</string>
		<key>color</key>
		<string>#408637</string>
	</dict>
	<key>2026</key>
	<dict>
		<key>ID</key>
		<string>2026</string>
		<key>name</key>
		<string>分红</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_fenhong</string>
		<key>color</key>
		<string>#ad492b</string>
	</dict>
	<key>2028</key>
	<dict>
		<key>ID</key>
		<string>2028</string>
		<key>name</key>
		<string>应收款</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_yingshou</string>
		<key>color</key>
		<string>#66b34a</string>
	</dict>
	<key>2029</key>
	<dict>
		<key>ID</key>
		<string>2029</string>
		<key>name</key>
		<string>销售额</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_xiaoshoue</string>
		<key>color</key>
		<string>#2bbeb2</string>
	</dict>
	<key>2031</key>
	<dict>
		<key>ID</key>
		<string>2031</string>
		<key>name</key>
		<string>卖方退货</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_maifangtuihuo</string>
		<key>color</key>
		<string>#e0866b</string>
	</dict>
	<key>2032</key>
	<dict>
		<key>ID</key>
		<string>2032</string>
		<key>name</key>
		<string>卖方退款</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_maifangtuikuan</string>
		<key>color</key>
		<string>#b5a922</string>
	</dict>
	<key>2033</key>
	<dict>
		<key>ID</key>
		<string>2033</string>
		<key>name</key>
		<string>退税</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_shuifei</string>
		<key>color</key>
		<string>#e16d6d</string>
	</dict>
	<key>2034</key>
	<dict>
		<key>ID</key>
		<string>2034</string>
		<key>name</key>
		<string>投资</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_touzi</string>
		<key>color</key>
		<string>#d44f4f</string>
	</dict>
	<key>2039</key>
	<dict>
		<key>ID</key>
		<string>2039</string>
		<key>name</key>
		<string>赞助费</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_zanzhu</string>
		<key>color</key>
		<string>#66b34a</string>
	</dict>
	<key>2045</key>
	<dict>
		<key>ID</key>
		<string>2045</string>
		<key>name</key>
		<string>赞助费</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_zanzhu</string>
		<key>color</key>
		<string>#66b34a</string>
	</dict>
	<key>2049</key>
	<dict>
		<key>ID</key>
		<string>2049</string>
		<key>name</key>
		<string>赞助费</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_zanzhu</string>
		<key>color</key>
		<string>#66b34a</string>
	</dict>
	<key>2050</key>
	<dict>
		<key>ID</key>
		<string>2050</string>
		<key>name</key>
		<string>其它收入</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_qitashouru</string>
		<key>color</key>
		<string>#999999</string>
	</dict>
	<key>2051</key>
	<dict>
		<key>ID</key>
		<string>2051</string>
		<key>name</key>
		<string>压岁钱</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_yasuiqian</string>
		<key>color</key>
		<string>#eb66a7</string>
	</dict>
	<key>2052</key>
	<dict>
		<key>ID</key>
		<string>2052</string>
		<key>name</key>
		<string>提成</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_ticheng</string>
		<key>color</key>
		<string>#ab94c6</string>
	</dict>
	<key>2053</key>
	<dict>
		<key>ID</key>
		<string>2053</string>
		<key>name</key>
		<string>职业收入</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_zhiyeshouru</string>
		<key>color</key>
		<string>#d29361</string>
	</dict>
	<key>2054</key>
	<dict>
		<key>ID</key>
		<string>2054</string>
		<key>name</key>
		<string>生意收入</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_shengyishouru</string>
		<key>color</key>
		<string>#8ebf7c</string>
	</dict>
	<key>2055</key>
	<dict>
		<key>ID</key>
		<string>2055</string>
		<key>name</key>
		<string>打赏</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_dashang</string>
		<key>color</key>
		<string>#f47a55</string>
	</dict>
	<key>2056</key>
	<dict>
		<key>ID</key>
		<string>2056</string>
		<key>name</key>
		<string>广告费</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_guanggao</string>
		<key>color</key>
		<string>#c55553</string>
	</dict>
	<key>2057</key>
	<dict>
		<key>ID</key>
		<string>2057</string>
		<key>name</key>
		<string>斜杠收入</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_xiegangshouru</string>
		<key>color</key>
		<string>#c6632f</string>
	</dict>
	<key>2058</key>
	<dict>
		<key>ID</key>
		<string>2058</string>
		<key>name</key>
		<string>融资</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_rongzi</string>
		<key>color</key>
		<string>#b3d236</string>
	</dict>
</dict>
</plist>
