<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>ID</key>
		<string>1</string>
		<key>name</key>
		<string>平账收入</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_pignzhangshouru</string>
		<key>color</key>
		<string>#9382ad</string>
	</dict>
	<key>2</key>
	<dict>
		<key>ID</key>
		<string>2</string>
		<key>name</key>
		<string>平账支出</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_pingzhangzhichu</string>
		<key>color</key>
		<string>#5889c5</string>
	</dict>
	<key>3</key>
	<dict>
		<key>ID</key>
		<string>3</string>
		<key>name</key>
		<string>转入</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_zhuanru</string>
		<key>color</key>
		<string>#993f84</string>
	</dict>
	<key>4</key>
	<dict>
		<key>ID</key>
		<string>4</string>
		<key>name</key>
		<string>转出</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_zhuanchu</string>
		<key>color</key>
		<string>#4a8984</string>
	</dict>
	<key>5</key>
	<dict>
		<key>ID</key>
		<string>5</string>
		<key>name</key>
		<string>借贷利息收入</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_interest</string>
		<key>color</key>
		<string>#408637</string>
	</dict>
	<key>6</key>
	<dict>
		<key>ID</key>
		<string>6</string>
		<key>name</key>
		<string>借贷利息支出</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_interest</string>
		<key>color</key>
		<string>#408637</string>
	</dict>
	<key>7</key>
	<dict>
		<key>ID</key>
		<string>7</string>
		<key>name</key>
		<string>借贷变更收入</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string></string>
		<key>color</key>
		<string>#993f84</string>
	</dict>
	<key>8</key>
	<dict>
		<key>ID</key>
		<string>8</string>
		<key>name</key>
		<string>借贷变更支出</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string></string>
		<key>color</key>
		<string>#4a8984</string>
	</dict>
	<key>9</key>
	<dict>
		<key>ID</key>
		<string>9</string>
		<key>name</key>
		<string>借贷余额转入</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string></string>
		<key>color</key>
		<string></string>
	</dict>
	<key>10</key>
	<dict>
		<key>ID</key>
		<string>10</string>
		<key>name</key>
		<string>借贷余额转出</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string></string>
		<key>color</key>
		<string></string>
	</dict>
	<key>11</key>
	<dict>
		<key>ID</key>
		<string>11</string>
		<key>name</key>
		<string>信用卡分期本金</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>ft_cash</string>
		<key>color</key>
		<string>#fc7a60</string>
	</dict>
	<key>12</key>
	<dict>
		<key>ID</key>
		<string>12</string>
		<key>name</key>
		<string>信用卡分期手续费</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_shouxufei</string>
		<key>color</key>
		<string>#ccb530</string>
	</dict>
	<key>13</key>
	<dict>
		<key>ID</key>
		<string>13</string>
		<key>name</key>
		<string>平帐收入(共享账本)  </string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string>bt_sharebookpzsr</string>
		<key>color</key>
		<string>#9382ad</string>
	</dict>
	<key>14</key>
	<dict>
		<key>ID</key>
		<string>14</string>
		<key>name</key>
		<string>平帐支出(共享账本)</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string>bt_sharebookpzzc</string>
		<key>color</key>
		<string>#5889c5</string>
	</dict>
	<key>15</key>
	<dict>
		<key>ID</key>
		<string>15</string>
		<key>name</key>
		<string>固收理财变更转入</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string></string>
		<key>color</key>
		<string></string>
	</dict>
	<key>16</key>
	<dict>
		<key>ID</key>
		<string>16</string>
		<key>name</key>
		<string>固收理财变更转出</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string></string>
		<key>color</key>
		<string></string>
	</dict>
	<key>17</key>
	<dict>
		<key>ID</key>
		<string>17</string>
		<key>name</key>
		<string>固收理财余额转入</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string></string>
		<key>color</key>
		<string></string>
	</dict>
	<key>18</key>
	<dict>
		<key>ID</key>
		<string>18</string>
		<key>name</key>
		<string>固收理财余额转出</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string></string>
		<key>color</key>
		<string></string>
	</dict>
	<key>19</key>
	<dict>
		<key>ID</key>
		<string>19</string>
		<key>name</key>
		<string>固收理财结算利息转入</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string></string>
		<key>color</key>
		<string></string>
	</dict>
	<key>20</key>
	<dict>
		<key>ID</key>
		<string>20</string>
		<key>name</key>
		<string>固收理财结算利息转出</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string></string>
		<key>color</key>
		<string></string>
	</dict>
	<key>21</key>
	<dict>
		<key>ID</key>
		<string>21</string>
		<key>name</key>
		<string>固收理财派发利息流水</string>
		<key>expended</key>
		<false/>
		<key>icon</key>
		<string></string>
		<key>color</key>
		<string></string>
	</dict>
	<key>22</key>
	<dict>
		<key>ID</key>
		<string>22</string>
		<key>name</key>
		<string>固收理财手续费率（部分赎回，结算）</string>
		<key>expended</key>
		<true/>
		<key>icon</key>
		<string></string>
		<key>color</key>
		<string></string>
	</dict>
</dict>
</plist>
