<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JiZhangGuanJia.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SuiShouJi.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>YouYuJiZhangBao.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>YouYuJiZhangBen.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>YouYuJiZhangLiCai.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>youyujizhang.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D08A0931E4999D30085A8FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DA139EA1E35AED7000490A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DBA559D1D6D32B700C02D79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C2A67071D194CA70010F1DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CECFB191D6D41A700DB2C8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CECFF111D6D41EB00DB2C8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD543C3B1C1A6DBC00910D61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD543C541C1A6DBC00910D61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD543C5F1C1A6DBC00910D61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
