<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.9188.jizhang</key>
	<dict>
		<key>source</key>
		<string>11501</string>
		<key>WeiXinKey</key>
		<string>wxf77f7a5867124dfd</string>
		<key>WeiXinSecret</key>
		<string>597d6402c3cd82ff12ba0e81abd34b1a</string>
		<key>QQAppId</key>
		<string>1105086761</string>
		<key>QQAppKey</key>
		<string>mgRX8CiiIIrCoyu6</string>
		<key>YWAppKey</key>
		<string>23359906</string>
		<key>WeiBoAppKey</key>
		<string>4058368695</string>
		<key>WeiBoSecret</key>
		<string>b0584e24371e5ad6118dfa0e3de3197c</string>
		<key>UMAppKey</key>
		<string>566e6f12e0f55ac052003f62</string>
		<key>ShareTitle</key>
		<string>9188记账，一种快速实现财务自由的方式。</string>
		<key>ShareUrl</key>
		<string>http://5.9188.com/note/d/</string>
		<key>ShareContent</key>
		<string>财务管理第一步，从记录消费生活开始!</string>
		<key>ShareIcon</key>
		<string>icon</string>
		<key>WeiboBanner</key>
		<string>weibo_banner</string>
		<key>AppStoreUrl</key>
		<string>https://itunes.apple.com/cn/app/9188ji-zhang/id1080564439?mt=8</string>
	</dict>
	<key>com.9188.jizhangAppStore</key>
	<dict>
		<key>GeTuiAppSecret</key>
		<string>r475vUBHQb5bNAdkBw6CV6</string>
		<key>GeTuiTestAppSecret</key>
		<string>D0Fd9ekqMy8A27DMVwoIc4</string>
		<key>GeTuiAppKey</key>
		<string>veBOaiEFxO7dMj36QfQ9P8</string>
		<key>GeTuiTestAppKey</key>
		<string>UldCizNDjk7d0VTAAlSo8</string>
		<key>GeTuiAppID</key>
		<string>7rHyx1dzw59JutCZym5jv7</string>
		<key>GeTuTestiAppID</key>
		<string>ilSGUkJ79Z5MCSXbGk76u</string>
		<key>source</key>
		<string>11501</string>
		<key>WeiXinKey</key>
		<string>wxf77f7a5867124dfd</string>
		<key>WeiXinSecret</key>
		<string>597d6402c3cd82ff12ba0e81abd34b1a</string>
		<key>QQAppId</key>
		<string>1105086761</string>
		<key>QQAppKey</key>
		<string>mgRX8CiiIIrCoyu6</string>
		<key>YWAppKey</key>
		<string>23359906</string>
		<key>WeiBoAppKey</key>
		<string>4058368695</string>
		<key>WeiBoSecret</key>
		<string>b0584e24371e5ad6118dfa0e3de3197c</string>
		<key>UMAppKey</key>
		<string>59705e638630f536dd001719</string>
		<key>ShareTitle</key>
		<string>9188记账，一种快速实现财务自由的方式。</string>
		<key>ShareUrl</key>
		<string>http://5.9188.com/note/d/</string>
		<key>ShareContent</key>
		<string>财务管理第一步，从记录消费生活开始!</string>
		<key>ShareIcon</key>
		<string>icon</string>
		<key>WeiboBanner</key>
		<string>weibo_banner</string>
		<key>AppStoreUrl</key>
		<string>https://itunes.apple.com/cn/app/9188ji-zhang/id1080564439?mt=8</string>
		<key>appleID</key>
		<string>1080564439</string>
	</dict>
	<key>com.youyu.jizhang</key>
	<dict>
		<key>GeTuiAppSecret</key>
		<string>qPVXAmYKIO7Jz78Jm6yQUA</string>
		<key>GeTuiAppKey</key>
		<string>VoRgMwet0q5V6H8ML7HkQ7</string>
		<key>GeTuiAppID</key>
		<string>26n0wSZzlv5jmrEXRoLZs4</string>
		<key>appleID</key>
		<string>1126210029</string>
		<key>source</key>
		<string>11502</string>
		<key>WeiXinKey</key>
		<string>wx1973e4bbb6b9d773</string>
		<key>WeiXinSecret</key>
		<string>b8d9ac7bdbd22a8df2e9651b5ab39c41</string>
		<key>QQAppId</key>
		<string>1105340301</string>
		<key>QQAppKey</key>
		<string>mW8hRwplNTlrUj3O</string>
		<key>YWAppKey</key>
		<string>23390795</string>
		<key>WeiBoAppKey</key>
		<string>2128876025</string>
		<key>WeiBoSecret</key>
		<string>bcbf3b6f1f534d8e39b0b52418761921</string>
		<key>UMAppKey</key>
		<string>5767bf4a67e58ef35d002740</string>
		<key>ShareTitle</key>
		<string>有鱼记账，帮我把小家打理得更好。</string>
		<key>ShareUrl</key>
		<string>http://jz.9188.com/app/yy/index.html</string>
		<key>ShareContent</key>
		<string>在这里，记录消费生活是件有趣简单的事儿，管家更有窍门。</string>
		<key>ShareIcon</key>
		<string>youyu_icon</string>
		<key>WeiboBanner</key>
		<string>youyu_weibo_banner</string>
		<key>AppStoreUrl</key>
		<string>https://itunes.apple.com/cn/app/you-yu-ji-zhang-quan-min-kou/id1126210029?l=zh&amp;ls=1&amp;mt=8</string>
	</dict>
	<key>com.youyu.jizhangguanjia</key>
	<dict>
		<key>GeTuiAppSecret</key>
		<string>mvIDK0eTJQ7u8JqOAx1cv5</string>
		<key>GeTuiAppKey</key>
		<string>EzMqOgYoUY7m93qICPwyi7</string>
		<key>GeTuiAppID</key>
		<string>M73qJy54fL7mJmpjNv3ro8</string>
		<key>source</key>
		<string>11503</string>
		<key>WeiXinKey</key>
		<string></string>
		<key>WeiXinSecret</key>
		<string></string>
		<key>QQAppId</key>
		<string>1105340301</string>
		<key>QQAppKey</key>
		<string>mW8hRwplNTlrUj3O</string>
		<key>YWAppKey</key>
		<string></string>
		<key>WeiBoAppKey</key>
		<string></string>
		<key>WeiBoSecret</key>
		<string></string>
		<key>UMAppKey</key>
		<string>57bd0407e0f55a12f800304d</string>
		<key>ShareTitle</key>
		<string></string>
		<key>ShareUrl</key>
		<string></string>
		<key>ShareContent</key>
		<string></string>
		<key>ShareIcon</key>
		<string></string>
		<key>WeiboBanner</key>
		<string></string>
		<key>AppStoreUrl</key>
		<string>https://itunes.apple.com/cn/app/you-yu-ji-zhang-guan-jia/id1147033267?l=zh&amp;ls=1&amp;mt=8</string>
	</dict>
	<key>com.youyu.jizhangben</key>
	<dict>
		<key>GeTuiAppSecret</key>
		<string>LFTkj4p7Xh5vu7EKmajdJ9</string>
		<key>GeTuiAppKey</key>
		<string>IruO1T9VEy9nOudxiHq4X2</string>
		<key>GeTuiAppID</key>
		<string>zUbUn2GCpeAYm5a2Qd8qb7</string>
		<key>source</key>
		<string>11504</string>
		<key>WeiXinKey</key>
		<string></string>
		<key>WeiXinSecret</key>
		<string></string>
		<key>QQAppId</key>
		<string>1105340301</string>
		<key>QQAppKey</key>
		<string>mW8hRwplNTlrUj3O</string>
		<key>YWAppKey</key>
		<string></string>
		<key>WeiBoAppKey</key>
		<string></string>
		<key>WeiBoSecret</key>
		<string></string>
		<key>UMAppKey</key>
		<string>57bd0470e0f55a5d3f000d1f</string>
		<key>ShareTitle</key>
		<string></string>
		<key>ShareUrl</key>
		<string></string>
		<key>ShareContent</key>
		<string></string>
		<key>ShareIcon</key>
		<string></string>
		<key>WeiboBanner</key>
		<string></string>
		<key>AppStoreUrl</key>
		<string>https://itunes.apple.com/cn/app/you-yu-ji-zhang-ben-zui-bian/id1147038013?l=zh&amp;ls=1&amp;mt=8</string>
		<key>appleID</key>
		<string>1147038013</string>
	</dict>
	<key>com.youyu.jizhanglicai</key>
	<dict>
		<key>GeTuiAppSecret</key>
		<string>wPn4Y0rqWqAojKsJcQFg83</string>
		<key>GeTuiAppKey</key>
		<string>7lKvtaYFX08xKzDW8kT7s3</string>
		<key>GeTuiAppID</key>
		<string>uJ8JsbvpCpA3nuunXp1553</string>
		<key>source</key>
		<string>11505</string>
		<key>WeiXinKey</key>
		<string></string>
		<key>WeiXinSecret</key>
		<string></string>
		<key>QQAppId</key>
		<string>1105340301</string>
		<key>QQAppKey</key>
		<string>mW8hRwplNTlrUj3O</string>
		<key>YWAppKey</key>
		<string>23440910</string>
		<key>WeiBoAppKey</key>
		<string></string>
		<key>WeiBoSecret</key>
		<string></string>
		<key>UMAppKey</key>
		<string>57bd048ee0f55a351400299d</string>
		<key>ShareTitle</key>
		<string></string>
		<key>ShareUrl</key>
		<string></string>
		<key>ShareContent</key>
		<string></string>
		<key>ShareIcon</key>
		<string></string>
		<key>WeiboBanner</key>
		<string></string>
		<key>AppStoreUrl</key>
		<string>https://itunes.apple.com/cn/app/you-yu-ji-zhang-li-cai-zui/id1147038726?l=zh&amp;ls=1&amp;mt=8</string>
		<key>appleID</key>
		<string>1147038726</string>
	</dict>
	<key>com.youyu.jizhangbao</key>
	<dict>
		<key>GeTuiAppSecret</key>
		<string>QNtKqLZR8lAFQIi23BYxI8</string>
		<key>GeTuiAppKey</key>
		<string>pZQNRIoYEd604esRNu6hB5</string>
		<key>GeTuiAppID</key>
		<string>oK4QpfLsWm8uPFzZhClIr7</string>
		<key>source</key>
		<string>11506</string>
		<key>WeiXinKey</key>
		<string></string>
		<key>WeiXinSecret</key>
		<string></string>
		<key>QQAppId</key>
		<string>1105340301</string>
		<key>QQAppKey</key>
		<string>mW8hRwplNTlrUj3O</string>
		<key>YWAppKey</key>
		<string></string>
		<key>WeiBoAppKey</key>
		<string></string>
		<key>WeiBoSecret</key>
		<string></string>
		<key>UMAppKey</key>
		<string>5885c723a325114db20005aa</string>
		<key>ShareTitle</key>
		<string></string>
		<key>ShareUrl</key>
		<string></string>
		<key>ShareContent</key>
		<string></string>
		<key>ShareIcon</key>
		<string></string>
		<key>WeiboBanner</key>
		<string></string>
		<key>AppStoreUrl</key>
		<string>https://itunes.apple.com/cn/app/you-yu-ji-zhang-bao-ge-ren/id1198079862?l=zh&amp;ls=1&amp;mt=8</string>
		<key>appleID</key>
		<string>1198079862</string>
	</dict>
	<key>com.youyu.youyujizhangguanjia</key>
	<dict>
		<key>GeTuiAppSecret</key>
		<string>KW8o6rPJaq5CsajickOta7</string>
		<key>GeTuiAppKey</key>
		<string>hUGxWaSQu78q2478PyLxJ8</string>
		<key>GeTuiAppID</key>
		<string>8JvuDOOcSB61LDewhExmy9</string>
		<key>source</key>
		<string>11507</string>
		<key>WeiXinKey</key>
		<string></string>
		<key>WeiXinSecret</key>
		<string></string>
		<key>QQAppId</key>
		<string>1105340301</string>
		<key>QQAppKey</key>
		<string>mW8hRwplNTlrUj3O</string>
		<key>YWAppKey</key>
		<string></string>
		<key>WeiBoAppKey</key>
		<string></string>
		<key>WeiBoSecret</key>
		<string></string>
		<key>UMAppKey</key>
		<string>58996c1d3eae256b40000297</string>
		<key>ShareTitle</key>
		<string></string>
		<key>ShareUrl</key>
		<string></string>
		<key>ShareContent</key>
		<string></string>
		<key>ShareIcon</key>
		<string></string>
		<key>WeiboBanner</key>
		<string></string>
		<key>AppStoreUrl</key>
		<string>https://itunes.apple.com/cn/app/you-yu-ji-zhang-guan-jia-ge/id1203148837?l=zh&amp;ls=1&amp;mt=8</string>
		<key>appleID</key>
		<string>1203148837</string>
	</dict>
	<key>com.9188.jizhangben</key>
	<dict>
		<key>GeTuiAppSecret</key>
		<string>Qy2lpd32U27JwDiGDmpOKA</string>
		<key>GeTuiAppKey</key>
		<string>uMcte79f3Z8i0tpGXwrM28</string>
		<key>GeTuiAppID</key>
		<string>YaFakqeo9c7EpHwOzjeXR6</string>
		<key>source</key>
		<string>11508</string>
		<key>WeiXinKey</key>
		<string></string>
		<key>WeiXinSecret</key>
		<string></string>
		<key>QQAppId</key>
		<string>1105340301</string>
		<key>QQAppKey</key>
		<string>mW8hRwplNTlrUj3O</string>
		<key>YWAppKey</key>
		<string></string>
		<key>WeiBoAppKey</key>
		<string></string>
		<key>WeiBoSecret</key>
		<string></string>
		<key>UMAppKey</key>
		<string>58f8753e8630f56022000460</string>
		<key>ShareTitle</key>
		<string></string>
		<key>ShareUrl</key>
		<string></string>
		<key>ShareContent</key>
		<string></string>
		<key>ShareIcon</key>
		<string></string>
		<key>WeiboBanner</key>
		<string></string>
		<key>AppStoreUrl</key>
		<string>https://itunes.apple.com/cn/app/9188%E8%AE%B0%E8%B4%A6%E6%9C%AC-%E6%9C%80%E9%A2%86%E5%85%88%E5%85%A8%E8%83%BD%E8%AE%B0%E8%B4%A6%E6%9C%AC/id1209932099?l=zh&amp;ls=1&amp;mt=8</string>
		<key>appleID</key>
		<string>1209932099</string>
	</dict>
	<key>com.beikejizhang.app</key>
	<dict>
		<key>GeTuiAppSecret</key>
		<string>pBys1PXMsYABfsQTKzr2s2</string>
		<key>GeTuiAppKey</key>
		<string>NyI7klZRvdAO1OEAFJtRb5</string>
		<key>GeTuiAppID</key>
		<string>9IwbxPJ7U78pGjZrGTggV7</string>
		<key>source</key>
		<string>11511</string>
		<key>WeiXinKey</key>
		<string></string>
		<key>WeiXinSecret</key>
		<string></string>
		<key>QQAppId</key>
		<string>1105340301</string>
		<key>QQAppKey</key>
		<string>mW8hRwplNTlrUj3O</string>
		<key>WeiBoAppKey</key>
		<string></string>
		<key>WeiBoSecret</key>
		<string></string>
		<key>UMAppKey</key>
		<string>58d339917f2c746fed001da1</string>
		<key>ShareTitle</key>
		<string></string>
		<key>ShareUrl</key>
		<string></string>
		<key>ShareContent</key>
		<string></string>
		<key>ShareIcon</key>
		<string></string>
		<key>WeiboBanner</key>
		<string></string>
		<key>AppStoreUrl</key>
		<string>https://itunes.apple.com/us/app/%E8%B4%9D%E5%A3%B3%E8%AE%B0%E8%B4%A6-%E7%94%9F%E6%B4%BB%E8%8A%B1%E9%94%80%E5%90%88%E7%90%86%E6%B6%88%E8%B4%B9%E7%90%86%E8%B4%A2%E5%B0%8F%E5%8A%A9%E6%89%8B/id1218612331?l=zh&amp;ls=1&amp;mt=8</string>
		<key>appleID</key>
		<string>1218612331</string>
	</dict>
	<key>com.youyu.notepro</key>
	<dict>
		<key>GeTuiAppSecret</key>
		<string>r475vUBHQb5bNAdkBw6CV6</string>
		<key>GeTuiTestAppSecret</key>
		<string>D0Fd9ekqMy8A27DMVwoIc4</string>
		<key>GeTuiAppKey</key>
		<string>veBOaiEFxO7dMj36QfQ9P8</string>
		<key>GeTuiTestAppKey</key>
		<string>UldCizNDjk7d0VTAAlSo8</string>
		<key>GeTuiAppID</key>
		<string>7rHyx1dzw59JutCZym5jv7</string>
		<key>GeTuTestiAppID</key>
		<string>ilSGUkJ79Z5MCSXbGk76u</string>
		<key>appleID</key>
		<string>1221777670</string>
		<key>source</key>
		<string>11513</string>
		<key>WeiXinKey</key>
		<string>wx1973e4bbb6b9d773</string>
		<key>WeiXinSecret</key>
		<string>b8d9ac7bdbd22a8df2e9651b5ab39c41</string>
		<key>QQAppId</key>
		<string>1105340301</string>
		<key>QQAppKey</key>
		<string>mW8hRwplNTlrUj3O</string>
		<key>WeiBoAppKey</key>
		<string>2128876025</string>
		<key>WeiBoSecret</key>
		<string>bcbf3b6f1f534d8e39b0b52418761921</string>
		<key>UMAppKey</key>
		<string>58f876e704e205746400082d</string>
		<key>ShareTitle</key>
		<string>有鱼记账，帮我把小家打理得更好。</string>
		<key>ShareUrl</key>
		<string>http://jz.9188.com/app/yy/index.html</string>
		<key>ShareContent</key>
		<string>在这里，记录消费生活是件有趣简单的事儿，管家更有窍门。</string>
		<key>ShareIcon</key>
		<string>youyu_icon</string>
		<key>WeiboBanner</key>
		<string>youyu_weibo_banner</string>
		<key>AppStoreUrl</key>
		<string>https://itunes.apple.com/us/app/%E6%9C%89%E9%B1%BC%E8%AE%B0%E8%B4%A6pro/id1221777670?l=zh&amp;ls=1&amp;mt=8</string>
	</dict>
	<key>com.9188.notepro</key>
	<dict>
		<key>GeTuiAppSecret</key>
		<string>aLIRi494dh9Fxla7XQNeW4</string>
		<key>GeTuiAppKey</key>
		<string>o7U2dDc9jSAvBSqtFrTqT2</string>
		<key>GeTuiAppID</key>
		<string>K4PvH3j3YL9obGYtjY0rA5</string>
		<key>appleID</key>
		<string>1221777670</string>
		<key>source</key>
		<string>11512</string>
		<key>WeiXinKey</key>
		<string>wxb06593134b15aec0</string>
		<key>WeiXinSecret</key>
		<string>7889d35368974b1a4644a62d04788a57</string>
		<key>QQAppId</key>
		<string>1105340301</string>
		<key>QQAppKey</key>
		<string>mW8hRwplNTlrUj3O</string>
		<key>YWAppKey</key>
		<string></string>
		<key>WeiBoAppKey</key>
		<string></string>
		<key>WeiBoSecret</key>
		<string></string>
		<key>UMAppKey</key>
		<string>58f876baa3251103e4000bf6</string>
		<key>ShareTitle</key>
		<string></string>
		<key>ShareUrl</key>
		<string></string>
		<key>ShareContent</key>
		<string></string>
		<key>ShareIcon</key>
		<string></string>
		<key>WeiboBanner</key>
		<string></string>
		<key>AppStoreUrl</key>
		<string>https://itunes.apple.com/us/app/9188%E8%AE%B0%E8%B4%A6pro/id1221777670?l=zh&amp;ls=1&amp;mt=8</string>
	</dict>
	<key>com.youyu.9188jizhangbao</key>
	<dict>
		<key>GeTuiAppSecret</key>
		<string>Fx5ww60VDh9OC5V496qvG1</string>
		<key>GeTuiTestAppSecret</key>
		<string></string>
		<key>GeTuiAppKey</key>
		<string>o94ErdbmnQ7XaEOXAUgVA5</string>
		<key>GeTuiTestAppKey</key>
		<string></string>
		<key>GeTuiAppID</key>
		<string>5wARtCEMJP7DXpQYrNpFX6</string>
		<key>GeTuTestiAppID</key>
		<string></string>
		<key>source</key>
		<string>11510</string>
		<key>WeiXinKey</key>
		<string></string>
		<key>WeiXinSecret</key>
		<string></string>
		<key>QQAppId</key>
		<string>1105340301</string>
		<key>QQAppKey</key>
		<string>mW8hRwplNTlrUj3O</string>
		<key>YWAppKey</key>
		<string></string>
		<key>WeiBoAppKey</key>
		<string></string>
		<key>WeiBoSecret</key>
		<string></string>
		<key>UMAppKey</key>
		<string>59000d9782b6355b500006b2</string>
		<key>ShareTitle</key>
		<string></string>
		<key>ShareUrl</key>
		<string></string>
		<key>ShareContent</key>
		<string></string>
		<key>ShareIcon</key>
		<string></string>
		<key>WeiboBanner</key>
		<string></string>
		<key>AppStoreUrl</key>
		<string>https://itunes.apple.com/cn/app/9188记账宝/id1230291938?l=zh&amp;ls=1&amp;mt=8</string>
		<key>appleID</key>
		<string>1230291938</string>
	</dict>
	<key>com.yy.jz</key>
	<dict>
		<key>GeTuiAppSecret</key>
		<string>zOpAVmrQTv7jZXSoN5XKe4</string>
		<key>GeTuiAppKey</key>
		<string>e0G6gtHb8q5yx3kiWyFGF3</string>
		<key>GeTuiAppID</key>
		<string>iFfiXmzGEE9DjJsF4kadu</string>
		<key>source</key>
		<string>11514</string>
		<key>WeiXinKey</key>
		<string></string>
		<key>WeiXinSecret</key>
		<string></string>
		<key>QQAppId</key>
		<string>1105340301</string>
		<key>QQAppKey</key>
		<string>mW8hRwplNTlrUj3O</string>
		<key>YWAppKey</key>
		<string></string>
		<key>WeiBoAppKey</key>
		<string></string>
		<key>WeiBoSecret</key>
		<string></string>
		<key>UMAppKey</key>
		<string>5926844cf29d98556900034d</string>
		<key>ShareTitle</key>
		<string></string>
		<key>ShareUrl</key>
		<string></string>
		<key>ShareContent</key>
		<string></string>
		<key>ShareIcon</key>
		<string></string>
		<key>WeiboBanner</key>
		<string></string>
		<key>AppStoreUrl</key>
		<string>https://itunes.apple.com/cn/app/%E8%AE%B0%E8%B4%A6222/id1238642818?l=zh&amp;ls=1&amp;mt=8</string>
		<key>appleID</key>
		<string>1238642818</string>
	</dict>
</dict>
</plist>
