<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultSource</key>
	<string>11502</string>
	<key>AppStoreSources</key>
	<array>
		<string>11501</string>
	</array>
	<key>Setting</key>
	<dict>
		<key>11501</key>
		<dict>
			<key>WeiXinKey</key>
			<string>wxf77f7a5867124dfd</string>
			<key>WeiXinSecret</key>
			<string>597d6402c3cd82ff12ba0e81abd34b1a</string>
			<key>QQAppId</key>
			<string>1105086761</string>
			<key>QQAppKey</key>
			<string>mgRX8CiiIIrCoyu6</string>
			<key>YWAppKey</key>
			<string>23359906</string>
			<key>WeiBoAppKey</key>
			<string>4058368695</string>
			<key>WeiBoSecret</key>
			<string>b0584e24371e5ad6118dfa0e3de3197c</string>
			<key>UMAppKey</key>
			<string>566e6f12e0f55ac052003f62</string>
			<key>ShareTitle</key>
			<string>9188记账，一种快速实现财务自由的方式。</string>
			<key>ShareUrl</key>
			<string>http://5.9188.com/note/d/</string>
			<key>ShareContent</key>
			<string>财务管理第一步，从记录消费生活开始!</string>
			<key>ShareIcon</key>
			<string>icon</string>
			<key>WeiboBanner</key>
			<string>weibo_banner</string>
			<key>AppStoreUrl</key>
			<string>https://itunes.apple.com/cn/app/9188ji-zhang/id1080564439?mt=8</string>
		</dict>
		<key>11502</key>
		<dict>
			<key>WeiXinKey</key>
			<string>wx1973e4bbb6b9d773</string>
			<key>WeiXinSecret</key>
			<string>b8d9ac7bdbd22a8df2e9651b5ab39c41</string>
			<key>QQAppId</key>
			<string>1105340301</string>
			<key>QQAppKey</key>
			<string>mW8hRwplNTlrUj3O</string>
			<key>YWAppKey</key>
			<string>23390795</string>
			<key>WeiBoAppKey</key>
			<string>2128876025</string>
			<key>WeiBoSecret</key>
			<string>bcbf3b6f1f534d8e39b0b52418761921</string>
			<key>UMAppKey</key>
			<string>5767bf4a67e58ef35d002740</string>
			<key>ShareTitle</key>
			<string>有鱼记账，帮我把小家打理得更好。</string>
			<key>ShareUrl</key>
			<string>http://jz.9188.com/app/yy/index.html</string>
			<key>ShareContent</key>
			<string>在这里，记录消费生活是件有趣简单的事儿，管家更有窍门。</string>
			<key>ShareIcon</key>
			<string>youyu_icon</string>
			<key>WeiboBanner</key>
			<string>youyu_weibo_banner</string>
			<key>AppStoreUrl</key>
			<string>https://itunes.apple.com/cn/app/you-yu-ji-zhang-quan-min-kou/id1126210029?l=zh&amp;ls=1&amp;mt=8</string>
		</dict>
		<key>11503</key>
		<dict>
			<key>WeiXinKey</key>
			<string></string>
			<key>WeiXinSecret</key>
			<string></string>
			<key>QQAppId</key>
			<string></string>
			<key>QQAppKey</key>
			<string></string>
			<key>YWAppKey</key>
			<string>23441285</string>
			<key>WeiBoAppKey</key>
			<string></string>
			<key>WeiBoSecret</key>
			<string></string>
			<key>UMAppKey</key>
			<string>57bd0407e0f55a12f800304d</string>
			<key>ShareTitle</key>
			<string></string>
			<key>ShareUrl</key>
			<string></string>
			<key>ShareContent</key>
			<string></string>
			<key>ShareIcon</key>
			<string></string>
			<key>WeiboBanner</key>
			<string></string>
			<key>AppStoreUrl</key>
			<string>https://itunes.apple.com/cn/app/you-yu-ji-zhang-guan-jia/id1147033267?l=zh&amp;ls=1&amp;mt=8</string>
		</dict>
		<key>11504</key>
		<dict>
			<key>WeiXinKey</key>
			<string></string>
			<key>WeiXinSecret</key>
			<string></string>
			<key>QQAppId</key>
			<string></string>
			<key>QQAppKey</key>
			<string></string>
			<key>YWAppKey</key>
			<string>23440909</string>
			<key>WeiBoAppKey</key>
			<string></string>
			<key>WeiBoSecret</key>
			<string></string>
			<key>UMAppKey</key>
			<string>57bd0470e0f55a5d3f000d1f</string>
			<key>ShareTitle</key>
			<string></string>
			<key>ShareUrl</key>
			<string></string>
			<key>ShareContent</key>
			<string></string>
			<key>ShareIcon</key>
			<string></string>
			<key>WeiboBanner</key>
			<string></string>
			<key>AppStoreUrl</key>
			<string>https://itunes.apple.com/cn/app/you-yu-ji-zhang-ben-zui-bian/id1147038013?l=zh&amp;ls=1&amp;mt=8</string>
		</dict>
		<key>11505</key>
		<dict>
			<key>WeiXinKey</key>
			<string></string>
			<key>WeiXinSecret</key>
			<string></string>
			<key>QQAppId</key>
			<string></string>
			<key>QQAppKey</key>
			<string></string>
			<key>YWAppKey</key>
			<string>23440910</string>
			<key>WeiBoAppKey</key>
			<string></string>
			<key>WeiBoSecret</key>
			<string></string>
			<key>UMAppKey</key>
			<string>57bd048ee0f55a351400299d</string>
			<key>ShareTitle</key>
			<string></string>
			<key>ShareUrl</key>
			<string></string>
			<key>ShareContent</key>
			<string></string>
			<key>ShareIcon</key>
			<string></string>
			<key>WeiboBanner</key>
			<string></string>
			<key>AppStoreUrl</key>
			<string>https://itunes.apple.com/cn/app/you-yu-ji-zhang-li-cai-zui/id1147038726?l=zh&amp;ls=1&amp;mt=8</string>
		</dict>
	</dict>
</dict>
</plist>
